<!-- ================= SIDEBAR ================= -->

<aside class="sidebar">

    <div class="sidebar-header">

        <img src="assets/logo/logo-xiaomi.png" class="sidebar-logo">

        <h2>Xiaomi</h2>

    </div>

    <nav>

        <ul>

            <li class="active">

                <i class="fa-solid fa-house"></i>

                <span>Inicio</span>

            </li>

            <li>

                <i class="fa-solid fa-users"></i>

                <span>Regional Sales Team</span>

            </li>

            <li>

                <i class="fa-solid fa-calendar-days"></i>

                <span>Jornadas Administrativas</span>

            </li>

            <li>

                <i class="fa-solid fa-mobile-screen"></i>

                <span>Claro</span>

            </li>

            <li>

                <i class="fa-solid fa-tower-broadcast"></i>

                <span>Carriers</span>

            </li>

            <li>

                <i class="fa-solid fa-store"></i>

                <span>Open Market</span>

            </li>

            <li>

                <i class="fa-solid fa-chart-column"></i>

                <span>Sistema Gestión Comercial</span>

            </li>

        </ul>

    </nav>

    <div class="sidebar-footer">

        <button>

            <i class="fa-solid fa-gear"></i>

            Configuración

        </button>

    </div>

</aside>